{
  "dashboardFilters": [],
  "displayName": "Set bucket IAM Policy",
  "labels": {},
  "mosaicLayout": {
    "columns": 48,
    "tiles": [
      {
        "height": 20,
        "widget": {
          "alertChart": {
            "name": "${alert_policy_name}"
          }
        },
        "width": 46
      }
    ]
  }
}
